/* biome-ignore-all lint: Biome does not support custom properties in CSS*/

@import "tailwindcss";

@plugin "tailwindcss-animate";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  logs: false;
}

@theme {
  --color-muted: oklch(0.7 0 90);
  --color-base-400: oklch(0.85 0 90);
  --color-base-500: oklch(0.8 0 90);
  --color-primary-subtle: oklch(0.6 0.19 260);
  --color-input: oklch(0.99 0.01 260);
  --color-navbar: oklch(1 0 90);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #ffffff;
  --color-base-200: #eeeeee;
  --color-base-300: #dedede;
  --color-base-400: #cecece;
  --color-base-500: #bebebe;
  --color-base-content: #000000;
  --color-primary: #0559d2;
  --color-primary-subtle: #4f97f7;
  --color-muted: #636363;
  --color-input: #f8fcff;
  --color-navbar: #ffffff;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-base-100: #161616;
  --color-base-200: #222222;
  --color-base-300: #2e2e2e;
  --color-base-400: #3a3a3a;
  --color-base-500: #484848;
  --color-base-content: #fafafa;
  --color-primary: #6e69f3;
  --color-primary-subtle: #5952d5;
  --color-muted: #9e9e9e;
  --color-input: #0f0f0f;
  --color-navbar: oklch(0.23 0 0);
}
