/* biome-ignore-all lint: Biome does not support custom properties in CSS*/

@import "tailwindcss";
@import "./components/components.css";

@plugin "tailwindcss-animate";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  logs: false;
}

@theme {
  --color-muted: #9e9e9e;
  --color-base-400: #cecece;
  --color-base-500: #bebebe;
  --color-primary-subtle: #337aef;
  --color-primary-surface: #e7f0fd;
  --color-input: #f8fcff;
  --color-textarea: #f8fcff;
  --color-navbar: #ffffff;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #ffffff;
  --color-base-200: #eeeeee;
  --color-base-300: #dedede;
  --color-base-400: #cecece;
  --color-base-500: #bebebe;
  --color-base-content: #000000;
  --color-primary: #0559d2;
  --color-primary-subtle: #4f97f7;
  --color-primary-surface: #ebf2fd;
  --color-error: #e5484d;
  --color-secondary: #7daaec;
  --color-muted: #636363;
  --color-input: #f8fcff;
  --color-textarea: #f8fcff;
  --color-navbar: #ffffff;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-base-100: #161616;
  --color-base-200: #222222;
  --color-base-300: #2e2e2e;
  --color-base-400: #3a3a3a;
  --color-base-500: #484848;
  --color-base-content: #fafafa;
  --color-primary: #7570f6;
  --color-primary-subtle: #5952d5;
  --color-primary-surface: #1d1c2a;
  --color-error: #f26b6e;
  --color-secondary: #b8bdff;
  --color-muted: #9e9e9e;
  --color-input: #0f0f0f;
  --color-textarea: #0f0f0f;
  --color-navbar: oklch(0.23 0 0);
}
